*{
	box-sizing:border-box;
  font-family: Helvetica;


}
h1
{ text-align: center;
  margin: 100px; 
 
}
p
{ margin-top:0px;
  clear: right;
  width: 90%;
  padding :0px 0px 10px 10px;
  }
.heading1,.heading2,.heading3
{ float: right; 
  width:40%;
  border: 2px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  padding:5px ;
  }
 div
 { padding: 0px;
   background-color: grey;
   
  }
.heading1
{ 
  background-color: pink;
}
 .heading2
{ color:white;
  background-color: rgba(230, 0, 0, 0.5);
}
 .heading3
{background-color: palegoldenrod;}

@media(min-width: 992px)
{ .col-lg-4 {
    float: left;
    border: 2px solid black;
    width: 31.33%;
    margin-right:1%;
    margin-left:1%;
   }
 
} 
@media (min-width: 768px) and (max-width: 991px)
 {
   .col-md-6
   { 
    float: left;
    border: 2px solid black;
    width: 48%;
    margin:1%;

  }
  .col-md-12 {
      float: left;
      clear:left;
      border: 2px solid black;
      width: 98%;
      margin:1%;
      
    }
  
}
@media (max-width: 767px) 
 {
  .col-sm-12 {
    border: 2px solid black;
  }

  .col-sm-12 {
    width: 96%;
    margin: 2%
    
  }
  
}
